{% extends 'main.html.twig' %}
{% block titulo %} CPS | Proveedor {% endblock %}
{% block stylesheets %}
<style>
@media print{
    .noImprimir{
      display: none !important;
      background-color: red;
    }
  }
</style>
{% endblock %}
{% block body %}
    <div class="page-title noImprimir">
        <div class="title_left">
            <h3>Administrar Proveedor</h3>
        </div>
        <div class="title_right">
            <form method="get" action="" class="form-inline" role="search">
                <div class="form-group pull-right top_search ">
                    <div class="input-group">
                        <input type="text" value="{{ app.request.get('query') }}" name="query" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
              						  <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
              							</button>
              					</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                 <h2>Lista de proveedores<small>Total ({{  pagination.getTotalItemCount  }})</small></h2>
                    <ul class="nav navbar-right panel_toolbox noImprimir">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('buscarpac') }}">Nuevo Proveedor</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Celular</th>
                            <th>Creadoel</th>
                            <th>Modificadoel</th>
                            <th class="noImprimir">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for proveedor in pagination %}
                            <tr>
                                <td>{{ proveedor.id }}</td>
                                <td>{{ proveedor.nombre }}</td>
                                <td>{{ proveedor.direccion }}</td>
                                <td>{{ proveedor.telefono }}</td>
                                <td>{{ proveedor.celular }}</td>
                                <td>{% if proveedor.creadoel %}{{ proveedor.creadoel|date("d/m/Y") }}{% endif %}</td>
                                <td>{% if proveedor.modificadoel %}{{ proveedor.modificadoel|date("d/m/Y") }}{% endif %}</td>                          
                                <td class="noImprimir">
                                    <center>
                                        <a title="Mostrar" class="btn btn-default btn-xs " href="{{ path('proveedor_show', { 'id': proveedor.id }) }}">
                                            <i class="fa fa-file-text" aria-hidden="true"></i>
                                        </a>
                                        <a title="Editar" class="btn btn-default  btn-xs " href="{{ path('proveedor_edit', { 'id': proveedor.id }) }}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </center>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
