{% extends 'main.html.twig' %}
{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}
{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block body %}
    <h1>Proveedor creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
            <input type="submit" class="btn btn-success pull-right" value="Guardar" />
            <a onclick="history.back()" class="btn btn-default pull-right">Volver Atrás</a>
        {{ form_end(form) }}
    {{ form_end(form) }}
{% endblock %}
