<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
		<link rel="stylesheet" href="{{ asset('gentella/vendor/bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('gentella/vendor/fonts.css') }}" />
		<link rel="stylesheet" href="{{ asset('gentella/vendor/bootstrap/css/base.css') }}" />
		<link href="{{ asset('gentella/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
		<script src="{{ asset('gentella/vendors/jquery/dist/jquery-1.10.2.js') }}"></script>
		<script src="{{ asset('gentella/vendors/jquery/dist/jquery-ui-1.10.4.custom.min.js') }}"></script>
		<script src="{{ asset('gentella/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<style>
			body{
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>