<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
		<title>{% block title %}Caja petrolera de salud {% endblock %}</title>
		
		<link rel="stylesheet" href="{{ asset('gentella/vendor/bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('gentella/vendor/fonts.css') }}" />
		<link rel="stylesheet" href="{{ asset('gentella/vendor/bootstrap/css/base.css') }}" />
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
		<style>
				.btn-login{
					background-color:#007b6d;
					border-color:#007b6d;
					color:#fff;
					width:100%;
				}
				.btn-login:hover{
					opacity:0.9;
					width:100%;
				}
				.centro{
					background-color:#fff;
					padding:30px;
					width: 350px;
					height: 210px;
					position: absolute;
					margin: auto;
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					border-radius: 7px;
				}
			</style>
	</head>
	<body>
		{% include 'topnav.html.twig'%} 
		{% block body %}{% endblock %} 
	</body>
</html>