<footer class="noprint">
  <div class="pull-right">
    Caja Petrolera de Salud ®, Fernando Castillo Torrico <i class="fa fa-code" aria-hidden="true"></i>
  </div>
  <div class="clearfix"></div>
</footer>