<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block titulo %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
		<!-- Bootstrap -->
		<link href="{{ asset('gentella/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset('gentella/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
		<!-- NProgress -->
		<link href="{{ asset('gentella/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
		<!-- iCheck -->
		<link href="{{ asset('gentella/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
		<!-- bootstrap-progressbar -->
		<link href="{{ asset('gentella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
		<link href="{{ asset('gentella/build/css/custom.min.css') }}" rel="stylesheet">
		<!-- Data tables -->
			<link href="{{ asset('gentella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('gentella/vendors/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('gentella/vendors/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('gentella/vendors/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('gentella/vendors/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
		<!-- estilos base-->
		<link href="{{ asset('gentella/build/css/base.css') }}" rel="stylesheet">
		{#<link href="{{ asset('gentella/build/css/custom.min.css') }}" rel="stylesheet">#}
		<!-- Jquery-->
		{#<link href="{{ asset('gentella/build/css/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet">#}
		<script src="{{ asset('gentella/vendors/jquery/dist/jquery-1.10.2.js') }}"></script>
		<script src="{{ asset('gentella/vendors/jquery/dist/jquery-ui-1.10.4.custom.min.js') }}"></script>
		<script src="{{ asset('gentella/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<!-- icon -->
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" /> {% block css %} {% endblock %} {% block js %} {% endblock %}
	</head>
	<body class="{% block tipoPagina %}nav-md{% endblock %}">
		<div class="container body">
			<div class="main_container">
				{{ include('sidebarMenu.html.twig') }}
				{{ include('topNavigation.html.twig') }}
				<div class="right_col" role="main">
					{% block body %}{% endblock %}
				</div>
				{{ include('footer.html.twig') }}
			</div>
		</div>
		<!-- jQuery -->
		<script src="{{ asset('gentella/vendors/jquery/dist/push.min.js') }}"></script>
				<!-- Bootstrap -->
		<script src="{{ asset('gentella/vendors/bootstrap/dist/js/bootbox.min.js') }}"></script>
		<!-- FastClick -->
		<script src="{{ asset('gentella/vendors/fastclick/lib/fastclick.js') }}"></script>
		<!-- NProgress -->
		<script src="{{ asset('gentella/vendors/nprogress/nprogress.js') }}"></script>
		<!-- Custom Theme Scripts -->
		<!-- dataTables  -->
			<script src="{{ asset('gentella/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
			<script src="{{ asset('gentella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/jszip/dist/jszip.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
			<script src="{{ asset('gentella/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
			<script src="{{ asset('gentella/vendors/echarts/dist/echarts.min.js ') }}"></script>
		<!-- custom -->
		<script src="{{ asset('gentella/build/js/custom.min.js') }}"></script>
		<script src="{{ asset('gentella/build/js/bootbox.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
	</body>
</html>
