<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="#" class="site_title">
      <img src="{{ asset('favicon.png') }}" alt="..." class="cuader">
      <span class="titlepage">Caja Petrolera de Salud</span></a>
    </div>
    <div class="clearfix"></div>
    <div class="profile">
      <div class="profile_pic">
        <img src="{{ asset('gentella/production/images/img.jpg') }}" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Bienvenido,{{ app.user.name }}</span>
        <h2></h2>
      </div>
    </div>
    <br />
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>{{ app.user.centrocosto.servicio.nombre }}</h3>
        <ul class="nav side-menu">
          {#-------------------------------------------------MENU-------------------------------------------------#}
          <!-- SOLICITUD -->
          {% if app.user.centrocosto.Ubicacion.id == 2 %}
            <li>
              <a><i class="fa fa-file-text-o" aria-hidden="true"></i>Solicitudes<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="{{ path('solicitud_index' ,{'est': '1'} ) }}">A confirmar</a></li>
                <li><a href="{{ path('solicitud_index' ,{'est': '2'} ) }}">En proceso</a></li>
                <li><a href="{{ path('solicitud_index' ,{'est': '3'} ) }}">Aceptadas</a></li>
                <li><a href="{{ path('solicitud_index' ,{'est': '4'} ) }}">Rechazada</a></li>
                <li><a href="{{ path('solicitud_index' ,{'est': '5'} ) }}">Canceladas</a></li>
              </ul>
            </li>
            <li>
              <a><i class="fa fa-file-text-o" aria-hidden="true"></i>Reporte<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="{{ path('solicitud_reporte') }}">Gráficos</a></li>
              </ul>
            </li>
          {% endif %}
          <!--  USUARIOS -->
          {% if app.user.centrocosto.Ubicacion.id == 3 %}
            <li>
              <a><i class="fa fa-users" aria-hidden="true"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="{{ path('user_index') }}">Lista</a></li>
              </ul>
            </li>
          {% endif %}
          <!-- POR DEFINIR -->
          {% if app.user.centrocosto.Ubicacion.id == 1 %}
            <li>
              <a><i class="fa fa-file-text-o" aria-hidden="true"></i>Solicitud<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="{{ path('solicitud_index') }}">Lista</a></li>
              </ul>
            </li>
          {% endif %}
          {#-------------------------------------------------------------------------------------------------------#}
        </ul>
      </div>
    </div>
  </div>
</div>
