<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">

        <li>
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="{{ asset('gentella/production/images/img.jpg') }}" alt="">
             Usuario: {{ app.user.username}}
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="{{ path('cps_user_logout')}}"><i class="fa fa-sign-out pull-right"></i>Cerrar Sesión</a></li>
          </ul>
        </li>

        <li>
          <a  data-toggle="tooltip" data-placement="left" title="" data-original-title="Actualizar" href="javascript:location.reload()">
           <i class="fa fa-refresh" aria-hidden="true"></i>
          </a>
        </li>

      </ul>

    </nav>
  </div>
</div>
