{% extends 'main.html.twig' %}
{% block titulo %} CPS | Solicitud {% endblock %}
{% block stylesheets %}
<style>
    .btn{
        margin-bottom: 0 !important;
    }
@media print{
    .noImprimir{
      display: none !important;
      background-color: red;
    }
  }
</style>
{% endblock %}
{% block body %}
    <div class="page-title noImprimir">
        <div class="title_left">
            <h3>Administrar Solicitud</h3>
        </div>
        <div class="title_right">
            <form method="get" action="" class="form-inline" role="search">
                <div class="form-group pull-right top_search ">
                    <div class="input-group">
                        <input type="text" value="{{ app.request.get('query') }}" name="query" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                              <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Solicitudes<small>Total (<span id="total" >{{  pagination.getTotalItemCount  }}</span>)</small></h2>
                    <a  class="btn btn-success pull-right" data-toggle="tooltip" data-placement="left" title="" data-original-title="Agregar Solicitud" style="cursor: pointer" href="{{ path('buscarpac') }}" type="button"> <i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>Paciente</th>
                            <th>Matrícula</th>
                            <th>Tipo Paciente</th>
                            <th>Requerimiento</th>
                            <th>Diagnostico</th>
                            <!-- <th>Medico</th> -->
                            <th>Origen</th>
                            <th>Estado</th>
                            <th class="noImprimir">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for solicitud in pagination %}
                            <tr data-id="{{ solicitud.id }}">
                                <td># {{ solicitud.id }}</td>
                                <td>{% if solicitud.fecha %}{{ solicitud.fecha|date("d/m/Y") }}{% endif %}</td>

                                <td>{{ solicitud.bitacorap.nombrep }}</td>
                                <td>{{ solicitud.pacienteId }}</td>
                                <td>
                                  {% if solicitud.bitacorap.tipo == "BE" %}
                                      Beneficiario
                                  {% endif %}
                                  {% if solicitud.bitacorap.tipo == "AS" %}
                                      Asegurado
                                  {% endif %}
                                </td>
                                <td>{{ solicitud.requerimiento | capitalize }}</td>
                                <td>{{ solicitud.diagnostico | capitalize }}</td>
                                <td>
                                    {% if solicitud.origen == 1 %}
                                        Administración
                                    {% endif %}
                                    {% if solicitud.origen == 2 %}
                                        Hospital
                                    {% endif %}
                                    {% if solicitud.origen == 3 %}
                                        Policonsultorio
                                    {% endif %}
                                  </td>
                                <td>
                                    {% if solicitud.proceso.id == 1 %}
                                        <span class="label label-default">Iniciado</span>
                                    {% endif %}
                                    {% if solicitud.proceso.id == 2 %}
                                        <span class="label label-warning">Proceso</span>
                                    {% endif %}
                                    {% if solicitud.proceso.id == 3 %}
                                        <span class="label label-success">Aceptado</span>
                                    {% endif %}
                                    {% if solicitud.proceso.id == 4 %}
                                        <span class="label label-danger">Rechazado</span>
                                    {% endif %}
                                    {% if solicitud.proceso.id == 5 %}
                                        <span class="label label-danger">Cancelado</span>
                                    {% endif %}
                                </td>
                                <td class="noImprimir">
                                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver detalle" class="btn btn-default btn-xs " href="{{ path('solicitud_show', { 'id': solicitud.id ,'est': solicitud.proceso.id }) }}">
                                        <i class="fa fa-file-text" aria-hidden="true"></i>
                                    </a>
                                    {#<a style="margin-bottom: 0 !important" title="Eliminar" class="btn btn-danger btn-xs btn-delete" href="{{ path('solicitud_anular', { 'id': solicitud.id }) }}">#}
                                        {#<i class="fa fa-trash" aria-hidden="true"></i>#}
                                    {#</a>#}
                                    {% if solicitud.proceso.id == 1 %}
                                        <a class="btn btn-danger btn-xs btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        {% include 'solicitud/form/form.html.twig' with {form : delete_form_ajax, 'message': 'estas seguro ?',
                                            id: 'form-delete', with_submit: false } %}
                                        <!-- MODAL DE ELIMINAR-->
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
           $(".btn-delete").click(function (e) {
                e.preventDefault();
                var row  = $(this).parents('tr');
                var id = row.data('id');

                var message = '¿Estas seguro?';
                var form = $("#form-delete");
                var url = form.attr('action').replace(':USER_ID', id);
                var data = form.serialize();

                bootbox.confirm(message,function (res) {
                    if(res == true){
                        console.log(data);
                        $.post(url, data, function (result) {
                            if(result.removed == 1){
                                row.fadeOut();
                                var totalSol = $("#total").text();
                                if($.isNumeric(totalSol)){
                                    $('#total').text(totalSol - 1);
                                }
                                else{
                                    $('#total').text(result.totalSol);
                                }
                            }
                            else {

                            }
                        }).fail(function () {
                            alert("Error");
                            row.show();
                        });
                    }

                });
           });
        });
    </script>
{% endblock %}
