{% extends 'main.html.twig' %}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}
{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock %}
{% block body %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Solicitud de servicio<small>(Nueva solicitud)</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p><strong>PACIENTE</strong></p>
            <div class="row">
                <div class="col-md-4 mg">
                    <p> <b>Nombre :</b> {{ app.session.get('nomCom') |upper}}</p>
                    <p> <b>Matricula :</b> {{ app.session.get('mat') |upper}}
                        {% if tipo == "AS" %}
                            <span class="label label-success">ASEGURADO</span>
                        {% endif %}
                        {% if tipo == "BE" %}
                            <span class="label label-primary">BENEFICIARIO</span>
                        {% endif %}
                        {% if tipo == "PA" %}
                            <span class="label label-warning">PARTICULAR</span>
                        {% endif %}
                    </p>
                    <p> <b>Edad :</b>
                        {% if edadf < 1 %} Es menor de un 1 anho {% endif %}
                        {% if edadf >= 1 and edadf != 500 %} {{ edadf }}{% endif %}
                        <b>Sexo : </b> {{ sexo }}</p>
                </div>
                {% if app.session.get('nomComAseg')%}
                    <div class="col-md-4">
                        <p><b> Nombre :</b> {{ app.session.get('nomComAseg')|upper }}</p>
                        <p><b> Matricula :</b> {{ app.session.get('matase')|upper }}
                            <span class="label label-success">ASEGURADO</span>
                        </p>
                    </div>
                {% endif %}
                <div class="col-md-4">
                    <p><b> Nombre Empresa :</b> {{ app.session.get('nomEmpresa') |upper }}</p>
                    <p><b>Codigo Patronal :</b> {{ app.session.get('empresaCod') }}</p>
                </div>
            </div>
            <legend></legend>
            <div class="row">
                {{ form_start(form, { 'attr' : {'novalidate':'novalidate', 'role': 'form'} }) }}
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.tipoSol,'Tipo solicitud :') }}
                        {{ form_errors(form.tipoSol) }}
                        {{ form_widget(form.tipoSol, { 'attr' : { 'class': ''} }) }} <br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.fecha,'Fecha :') }}
                        {{ form_errors(form.fecha) }}
                        {{ form_widget(form.fecha, { 'attr' : { 'class': ''} }) }} <br>
                    </div>
                </div>
                <div class="col-md-12">
                    {{ form_widget(form)}} <br>
                    {{ form_widget(form) }}
                </div>
                <div class="col-md-12">
                    <legend></legend>
                    <input type="submit" class="btn btn-success pull-right" value="Guardar" />
                    <a onclick="history.back()" class="btn btn-default pull-right">Volver Atrás</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}