{% extends 'main.html.twig' %}
{% block titulo %} CPS | Detalle {% endblock %}
{% block css %}
    <style type="text/css">
        .print{
            display: none !important;
        }
        .center{
            text-align: center;
        }
        .sin{
            display: block;
            padding: 5px;
            background-color: #f3f3f3;
            color:#73879C;
        }
        .btn{
            margin-bottom: 0 !important;
        }
        /*----------------------------MODO IMPRESION--------------------------*/
        @media print {

            .print{
                display: block !important;
            }
            .noprint{
                display: none !important;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> Solicitud de Servicio<small>(#{{ solicitud.id }})</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <h5 class="print"> Fecha de impresión: {{ "now"|date("d/m/Y") }}</h5>
                        <li class="noprint"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="noprint" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="" href="{{ path('solicitud_edit', { 'id': solicitud.id }) }}">Modificar </a>
                                </li>
                                {#<li><a class="" href="{{ path('solicitud_anular', { 'id': solicitud.id }) }}">Anular</a>#}
                                {#</li>#}
                            </ul>
                        </li>
                        <li class="noprint"><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <section class="content invoice">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-xs-12 invoice-header">
                                <h1>
                                    <i class="fa fa-info-circle" aria-hidden="true"></i> {{ solicitud.tiposol.nombre }}
                                    <small class="pull-right">Fecha: {% if solicitud.creadoEl %}{{ solicitud.creadoEl|date('d/m/Y') }}{% endif %}</small>
                                </h1>
                            </div>
                            <!-- /.col -->
                        </div>
                        <br>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <address>
                                    <strong>Paciente :</strong> {{ solicitud.bitacorap.nombrep }}
                                    <br><strong>Matrícula :</strong> {{ solicitud.pacienteId }}
                                    {#{% if solicitud.bitacorap.tipo == "AS" %}#}
                                        {#<span class="label label-success">Titular</span>#}
                                    {#{% else %}#}
                                        {#<span class="label label-info">Beneficiario</span>#}
                                    {#{% endif %}#}
                                    <br><strong>Empresa :</strong> {%for emp in empresa %}{{ emp.nombre }} {%endfor%}
                                    {% if solicitud.bitacorap.bitacorat != null and solicitud.bitacorap.tipo == "BE" %}
                                        <br><strong>Titular :</strong> {{ solicitud.bitacorap.bitacorat.nombre }}
                                        <br><strong>Matrícula :</strong> {{ solicitud.bitacorap.bitacorat.matricula }}
                                    {% endif %}
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <address>
                                    <strong>Origen :</strong>
                                    {% if solicitud.origen == 1 %} Administración
                                    {% elseif solicitud.origen  == 2 %} Hospital
                                    {% elseif solicitud.origen == 3 %} Policonsultorio
                                    {% endif %}
                                    <br><strong>Médico :</strong> {{ medico.nombre }} {{ medico.paterno }} {{ medico.materno}}
                                    <br><strong>Estado de solicitud :</strong>
                                    {% if solicitud.proceso.id  == 1 %} Iniciado
                                    {% elseif solicitud.proceso.id  == 2 %} <span class="label label-success">Aceptado</span>
                                    {% elseif solicitud.proceso.id  == 3 %} <span class="label label-primary">En proceso</span>
                                    {% elseif solicitud.proceso.id  == 4 %} <span class="label label-danger">Rechazado</span>
                                    {% elseif solicitud.proceso.id  == 5 %} <span class="label label-default">Cancelado</span>
                                    {% endif %}
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <address>
                                    <strong>Diagnostico :</strong> {{ solicitud.diagnostico | capitalize }}
                                    <br><strong>Requerimiento :</strong> {{ solicitud.requerimiento | capitalize }}
                                </address>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        {% set count = 1 %}
                        <div class="row">
                            <div class="col-xs-12 table">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Origen</th>
                                        <th>Fecha de envio</th>
                                        <th>Destino</th>
                                        <th>Fecha de recepción</th>
                                        <th>Observación</th>
                                        <th>Estado</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in listaMovimiento %}
                                           <tr>
                                               <th># {{ count }}</th>
                                               <th>{{ item.origenServ }}</th>
                                               <th>
                                                   {% if item.fechaEnvio != null %}
                                                       {{ item.fechaEnvio|date('d/m/Y') }}
                                                   {% else %} Sin recibir
                                                   {% endif %}
                                               </th>
                                               <th>{{ item.destinoServ }}</th>
                                               <th>
                                                   {% if item.fechaRecibido != null %}
                                                       {{ item.fechaRecibido|date('d/m/Y') }}
                                                       {% else %} Sin recibir
                                                   {% endif %}
                                               </th>
                                               <th>
                                                   {% if item.observacion == null %}
                                                      Ninguna.
                                                       {% else %} {{ item.observacion }}
                                                   {% endif %}
                                               </th>
                                               <th>
                                                   {% if item.estadoSol == 1 %}
                                                       <i style="color:#1fa67a " class="fa fa-check-circle fa-lg"></i>
                                                   {% endif %}
                                                   {% if item.estadoSol == 2 %}
                                                       <i style="color:red" class="fa fa-times-circle fa-lg"></i>
                                                   {% endif %}
                                               </th>
                                           </tr>
                                            {% set count = count + 1 %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if count <= 0 %}
                                    <div class="center"> <span class="sin">Sin movimientos.</span></div>
                                {% endif %}
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-xs-6">
                                <p class="lead">Lista de verificación:</p>

                                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                   De acuerdo a revisión de documentacion presentada para la compra por concepto de compra de servicio.
                                </p>
                                <p>
                                    <strong> REVISADO POR:</strong><br>
                                    Fecha: {{ "now"|date("d/m/Y") }}
                                </p>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-6">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs right" role="tablist">
                                        <li role="presentation" class=""><a href="#tab_factura" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Factura</a>
                                        </li>
                                        <li role="presentation" class="active"><a href="#tab_proforma" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Proforma</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_proforma" aria-labelledby="home-tab">
                                            {% set countp = 0 %}
                                            {% set totalProforma = 0 %}
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Descipción</th>
                                                    <th>Observación</th>
                                                    <th><span class="pull-right">Monto</span></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in solicitud.proforma %}
                                                    <tr>
                                                        <th>{% if item.fecha %}{{ item.fecha|date('d/m/Y') }}{% endif %}</th>
                                                        <th>{{ item.descripcion }}</th>
                                                        <th>{{ item.observacion }}</th>
                                                        <th><span class="pull-right">{{ item.total | number_format(2, ',', '.') }}</span></th>
                                                    </tr>
                                                    {% set countp = countp + 1 %}
                                                    {% set totalProforma = totalProforma + item.total %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {% if countp <= 0 %}
                                                <div class="center"> <span class="sin">Sin proforma.</span></div>
                                                <br>
                                            {% endif %}
                                            <legend style="padding-bottom: 1px;margin-bottom: 10px"></legend>
                                            <div style="padding-right: 8px">
                                                <a style="cursor: pointer" title="Agregar Proforma" type="button" data-toggle="modal" data-target="#myModalProforma"> <i style="color:#1fa67a" class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
                                                <label style="position: relative" class="pull-right">Total: {{ totalProforma | number_format(2, ',', '.') }}</label>
                                            </div>

                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_factura" aria-labelledby="profile-tab">
                                            {% set countf = 0 %}
                                            {% set totalFactura = 0 %}
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Fecha</th>
                                                    <th>N° de factura</th>
                                                    <th><span class="pull-right">Monto</span></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in solicitud.factura %}
                                                    <tr>
                                                        <th>{{ item.id }}</th>
                                                        <th>{% if item.fecha %}{{ item.fecha|date('d/m/Y') }}{% endif %}</th>
                                                        <th>{{ item.numero }}</th>
                                                        <th><span class="pull-right">{{ item.total | number_format(2, ',', '.') }}</span></th>
                                                    </tr>
                                                    {% set countf = countf + 1 %}
                                                    {% set totalFactura = totalFactura + item.total %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {% if countf <= 0 %}
                                                <div class="center"> <span class="sin">Sin facturas.</span></div>
                                                <br>
                                            {% endif %}
                                            <legend style="padding-bottom: 1px;margin-bottom: 10px"></legend>
                                            <div style="padding-right: 8px">
                                                {#<a style="cursor: pointer" title="Agregar Factura" type="button" data-toggle="modal" data-target="#myModalFactura"> <i style="color:#1fa67a" class="fa fa-plus" aria-hidden="true"></i> Agregar</a>#}
                                                {{ render(controller('cpscomservBundle:factura:new',{'id': solicitud.id } )) }}
                                                <label style="position: relative" class="pull-right">Total: {{ totalFactura | number_format(2, ',', '.') }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    {% if totalProforma != totalFactura %}
                                        <div class="alert alert-danger" role="alert">
                                           El total {{ totalProforma | number_format(2, ',', '.') }} de las proformas y las facturas {{ totalFactura | number_format(2, ',', '.') }} son distintas.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- this row will not appear when printing -->
                        <div class="row noprint">
                            <div class="col-xs-12">
                                <legend></legend>
                                <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Imprimir</button>
                                <a id="eliminar" class="btn btn-danger pull-right" type="button" data-toggle="modal" data-target="#myModalEliminar">Eliminar</a>

                                <a id="enviar" class="btn btn-success pull-right" type="button" data-toggle="modal" data-target="#myModal"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</a>
                                <a class="btn btn-default pull-right" href="{{ path('solicitud_index',{'est': solicitud.proceso.id }) }}"><i class="fa fa-reply" aria-hidden="true"></i> Volver Atras</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL DE ENVIO-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enviar a: </h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form, { 'attr' : {'novalidate':'novalidate', 'role': 'form'} }) }}
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Enviar" /> {{ form_end(form) }}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

   {#MODAL DE PROFORMA #}
    <div class="modal fade" id="myModalProforma" role="dialog">
        {{ form_start(formProforma) }}
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registro de Proforma</h4>
                </div>
                <div class="modal-body">
                    {{ form_widget(formProforma) }}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Guardar" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
        {{ form_rest(formProforma) }}
        {{ form_end(formProforma) }}
    </div>

    {#MODAL DE FACTURA#}
    <div class="modal fade" id="myModalFactura" role="dialog">
        {{ form_start(formFactura) }}
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registro de Factura </h4>
                </div>
                <div class="modal-body">
                    {{ form_widget(formFactura) }}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Guardar" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
        {{ form_rest(formFactura) }}
        {{ form_end(formFactura) }}
    </div>

    {#MODAL DE FACTURA#}
    <div class="modal fade" id="myModalEliminar" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar</h4>
                </div>
                <div class="modal-body">
                    Estas Seguro ?
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
