{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movimientos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Origenserv</th>
                <th>Destinoserv</th>
                <th>Fechaenvio</th>
                <th>Fecharecibido</th>
                <th>Usuenvio</th>
                <th>Usurecibido</th>
                <th>Observacion</th>
                <th>Cartaref</th>
                <th>Estadosol</th>
                <th>Estadoreg</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos %}
            <tr>
                <td><a href="{{ path('movimiento_show', { 'id': movimiento.id }) }}">{{ movimiento.id }}</a></td>
                <td>{{ movimiento.origenServ }}</td>
                <td>{{ movimiento.destinoServ }}</td>
                <td>{% if movimiento.fechaEnvio %}{{ movimiento.fechaEnvio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if movimiento.fechaRecibido %}{{ movimiento.fechaRecibido|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ movimiento.usuEnvio }}</td>
                <td>{{ movimiento.usuRecibido }}</td>
                <td>{{ movimiento.observacion }}</td>
                <td>{{ movimiento.cartaRef }}</td>
                <td>{{ movimiento.estadoSol }}</td>
                <td>{{ movimiento.estadoReg }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('movimiento_show', { 'id': movimiento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('movimiento_edit', { 'id': movimiento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimiento_new') }}">Create a new movimiento</a>
        </li>
    </ul>
{% endblock %}
