{% extends 'main.html.twig' %}

{% block body %}
    <h1>Movimiento creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <!-- <ul>
        <li>
            <a href="{{ path('movimiento_index') }}">Back to the list</a>
        </li>
    </ul> -->
{% endblock %}
