{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movimiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movimiento.id }}</td>
            </tr>
            <tr>
                <th>Origenserv</th>
                <td>{{ movimiento.origenServ }}</td>
            </tr>
            <tr>
                <th>Destinoserv</th>
                <td>{{ movimiento.destinoServ }}</td>
            </tr>
            <tr>
                <th>Fechaenvio</th>
                <td>{% if movimiento.fechaEnvio %}{{ movimiento.fechaEnvio|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecharecibido</th>
                <td>{% if movimiento.fechaRecibido %}{{ movimiento.fechaRecibido|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuenvio</th>
                <td>{{ movimiento.usuEnvio }}</td>
            </tr>
            <tr>
                <th>Usurecibido</th>
                <td>{{ movimiento.usuRecibido }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ movimiento.observacion }}</td>
            </tr>
            <tr>
                <th>Cartaref</th>
                <td>{{ movimiento.cartaRef }}</td>
            </tr>
            <tr>
                <th>Estadosol</th>
                <td>{{ movimiento.estadoSol }}</td>
            </tr>
            <tr>
                <th>Estadoreg</th>
                <td>{{ movimiento.estadoReg }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimiento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('movimiento_edit', { 'id': movimiento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
