{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipo_sols list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_sol in tipo_sols %}
            <tr>
                <td><a href="{{ path('tipo_sol_show', { 'id': tipo_sol.id }) }}">{{ tipo_sol.id }}</a></td>
                <td>{{ tipo_sol.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipo_sol_show', { 'id': tipo_sol.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipo_sol_edit', { 'id': tipo_sol.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipo_sol_new') }}">Create a new tipo_sol</a>
        </li>
    </ul>
{% endblock %}
