{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipo_sol</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_sol.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo_sol.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipo_sol_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tipo_sol_edit', { 'id': tipo_sol.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
