{% extends 'main.html.twig' %}

{% block body %}
    <h1>user edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %} {% block javascripts %}
    <script>
        var $branch = $('#user_branch');
        // When branch gets selected ...
        $branch.change(function () {
            // ... Obtener el formulario.
            var $form = $(this).closest('form');
            // Datos del formulario, pero sólo incluir el valor del deporte seleccionado.
            var data = {};
            data[$branch.attr('name')] = $branch.val();
            // Enviar los datos con AJAX al directorio de acción del formulario.
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    // Reemplazar la posición actual ...
                    $('#user_departament').replaceWith(
                        // ... con la devuelta por la respuesta AJAX.
                        $(html).find('#user_departament')
                    );
                    // Position field ya muestra las posiciones correctas.
                }
            });
        });

    </script>
{% endblock %}
