{% extends 'main.html.twig' %} {% block titulo %} CPS | Usuario {% endblock %} {% block body %}
<div class="page-title">
	<div class="title_left">
		<h3>Administrar Usuario </h3>
	</div>
	<div class="title_right">
		<form method="get" action="" class="form-inline" role="search">
			<div class="form-group pull-right top_search ">
				<div class="input-group">
					<input type="text" value="{{ app.request.get('query') }}" name="query" class="form-control" placeholder="Buscar...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
							</button>
					</span>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				{#<h2>Lista de usuario<small>Total ({{ pagination.getTotalItemCount }})</small></h2>#}
				<ul class="nav navbar-right panel_toolbox">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ path('user_new') }}">Agregar Usuario</a>
							</li>
						</ul>
					</li>
					{# <li><a class="close-link"><i class="fa fa-close"></i></a>
					</li> 
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>#}
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table class="table table-striped table-bordered dataTable no-footer">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>Correo</th>
							<th>Usuario</th>
							<th>Contraseña</th>
							<th>Rol</th>
							<th>Activo</th>
							<th>Creado El</th>
							<th>Modificado El</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
							<td>{{ user.name }}</td>
							<td>{{ user.lastName }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.username }}</td>
							<td>{{ user.password }}</td>
							<td>
								{% if user.role == 'ROLE_ADMIN'%} Administrador
                                    {% elseif user.role == 'ROLE_HOS'%} Hospital
                                        {% elseif user.role == 'ROLE_POL'%} Policonsultorio
                                            {% elseif user.role == 'ROLE_REG'%} Regional
								{% else %} Usuario
								{% endif %}
							</td>
							<td>{% if user.isActive %}Si{% else %}No{% endif %}</td>
							<td>{% if user.createdAt %}{{ user.createdAt|date('d-m-Y') }}{% endif %}</td>
							<td>{% if user.updateAt %}{{ user.updateAt|date('d-m-Y') }}{% endif %}</td>
							<td>
								<center>
									<a title="Mostrar" class="btn btn-default btn-xs" href="{{ path('user_show', { 'id': user.id }) }}">
										<i class="fa fa-file-text" aria-hidden="true"></i>
									</a>
									<a title="Editar" class="btn btn-default  btn-xs" href="{{ path('user_edit', { 'id': user.id }) }}">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</a>
								</center>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}