{% extends 'main.html.twig' %} {% block body %}
<div class="clearfix"></div>
<div class="row">
	<div class="x_panel">
		<div class="x_title">
			<h2>Formulario</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			{{ form_start(form, {'attr':{'novalidate':'novalidate', 'role' : 'form'} }) }} 
				{{ form_widget(form) }}
				<input type="submit" value="Create" /> 
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %} {% block javascripts %}
<script>
	var $branch = $('#user_branch');
	// When branch gets selected ...
	$branch.change(function () {
		// ... Obtener el formulario.
		var $form = $(this).closest('form');
		// Datos del formulario, pero sólo incluir el valor del deporte seleccionado.
		var data = {};
		data[$branch.attr('name')] = $branch.val();
		// Enviar los datos con AJAX al directorio de acción del formulario.
		$.ajax({
			url: $form.attr('action'),
			type: $form.attr('method'),
			data: data,
			success: function (html) {
				// Reemplazar la posición actual ...
				$('#user_departament').replaceWith(
					// ... con la devuelta por la respuesta AJAX.
					$(html).find('#user_departament')
				);
				// Position field ya muestra las posiciones correctas.
			}
		});
	});

</script>
{% endblock %}