{% extends 'main.html.twig' %}
{% block titulo %} CPS | Solicitud {% endblock %}
{% block body %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Solicitud<small>(Gráficos)</small></h2>
            <span>{% set fechaActual = "now"|date("m/d/Y") %} </span>
            <span class="pull-right">{{ fechaActual  }}</span>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Proceso</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="main2" style="height:400px;color:blue"></div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Origen</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="main" style="height:400px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Proceso</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="main1" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var res = JSON.parse('{{ origen |json_encode|e('js') }}');
        var myChart = echarts.init(document.getElementById('main'));
        option = {
            title : {
                text: 'Total de solicitudes',
                subtext: "por origen",
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data: ['Hospital','Policonsultorio']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: false, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    saveAsImage : {title: 'Descargar',show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'Total',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    label:{
                        normal: {
                            formatter: "{b} : {c} ({d}%)",
                        }
                    },
                    data: res,
                    color: ['#007B6D','#A5A9AC']
                }
            ]
        };
        myChart.setOption(option);
    </script>

    <script>
        var proceso = JSON.parse('{{ proceso |json_encode|e('js') }}');
        console.log(proceso)
        var myChart = echarts.init(document.getElementById('main1'));
        option = {
            title : {
                text: "Total de solicitudes",
                subtext: "por procesos",
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                x : 'center',
                y : 'bottom',
                data:['Inicial','En proceso','Aceptadas','Rechazadas','Canceladas']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel']
                    },
                    saveAsImage : {'title':'Descargar',show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'Total',
                    type:'pie',
                    radius : [30, 110],
                    center : ['50%', '50%'],
                    roseType : 'area',
                    label:{
                        normal: {
                            formatter: "{b} : {c}",
                        }
                    },
                    data:proceso,
                    color: ['#BDC3C7','#F0AD4E', '#26B99A', '#5BC0DE', '#D9534F']
                }
            ]
        };
        myChart.setOption(option);
    </script>

    <script>
        var dataGestion = JSON.parse('{{ dataGestion |json_encode|e('js') }}');
        var anhoGestion = {{ anhoGestion }};
        console.log(dataGestion)
        var myChart = echarts.init(document.getElementById('main2'));
        option = {
            title : {
                text: 'Total de gestión '+ " " + anhoGestion,
                subtext: 'hasta la fecha'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['ddd','fff']
            },
            toolbox: {
                show : true,
                feature : {
                    magicType : {title:'barra',show: true, type: ['line', 'bar']},
                    saveAsImage : {title:'Descargar', show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'Total',
                    type:'line',
                    data:dataGestion,
                    markPoint : {
                        data : [
                            {type : 'max', name: 'Máximo'},
                            {type : 'min', name: 'Mínimo'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: 'Promedio'}
                        ],
                    }
                }
            ],
            color:['#007B6D']
        };
        myChart.setOption(option);
    </script>
{% endblock %}