{#{% extends 'baseModal.html.twig' %}#}
{#{% block body %}#}
    <a id="enviar" type="button" data-toggle="modal" data-target="#myModal"> <i style="color:#1fa67a" class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        {{ form_start(form) }}
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enviar a: </h4>
                </div>
                <div class="modal-body">
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Guardar" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{#{% endblock %}#}
