{% extends 'base.html.twig' %}

{% block body %}
    <h1>Factura</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factura.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if factura.fecha %}{{ factura.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ factura.numero }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ factura.total }}</td>
            </tr>
            <tr>
                <th>Creadoel</th>
                <td>{% if factura.creadoel %}{{ factura.creadoel|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modificadoel</th>
                <td>{% if factura.modificadoel %}{{ factura.modificadoel|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('factura_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('factura_edit', { 'id': factura.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
