{% extends 'main.html.twig' %}

{% block body %}
    <div class="x_title">
        <h2>Facturas Adjuntadas<small>Total </small></h2>
        <ul class="nav navbar-right panel_toolbox noImprimir">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{{ path('factura_new', { 'id': solicitud.id }) }}">Nueva Factura</a>                
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Numero</th>
                <th>Total</th>
                <th>Creadoel</th>
                <th>Modificadoel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factura in facturas %}
            <tr>
                <td><a href="{{ path('factura_soli', { 'id': factura.id }) }}">{{ factura.id }}</a></td>
                <td>{% if factura.fecha %}{{ factura.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ factura.numero }}</td>
                <td>{{ factura.total }}</td>
                <td>{% if factura.creadoel %}{{ factura.creadoel|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if factura.modificadoel %}{{ factura.modificadoel|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('factura_soli', { 'id': factura.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('factura_edit', { 'id': factura.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
        
        </li>
    </ul>
{% endblock %}
