{{ form_start(form, {'attr': {id: id|default('form') }}) }}

    {% if with_submit is not defined or with_submit == true %}

        <input class="btn btn-danger" type="submit" value="Eliminar">

    {% endif %}

{{ form_end(form) }}