{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cartas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Referencia</th>
                <th>Contenido</th>
                <th>Tipo</th>
                <th>Creadoel</th>
                <th>Modificadoel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cartum in cartas %}
            <tr>
                <td><a href="{{ path('carta_show', { 'id': cartum.id }) }}">{{ cartum.id }}</a></td>
                <td>{{ cartum.numero }}</td>
                <td>{{ cartum.referencia }}</td>
                <td>{{ cartum.contenido }}</td>
                <td>{{ cartum.tipo }}</td>
                <td>{% if cartum.creadoEl %}{{ cartum.creadoEl|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cartum.modificadoEl %}{{ cartum.modificadoEl|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('carta_show', { 'id': cartum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('carta_edit', { 'id': cartum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carta_new') }}">Create a new cartum</a>
        </li>
    </ul>
{% endblock %}
