{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cartum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cartum.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ cartum.numero }}</td>
            </tr>
            <tr>
                <th>Referencia</th>
                <td>{{ cartum.referencia }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ cartum.contenido }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ cartum.tipo }}</td>
            </tr>
            <tr>
                <th>Creadoel</th>
                <td>{% if cartum.creadoEl %}{{ cartum.creadoEl|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modificadoel</th>
                <td>{% if cartum.modificadoEl %}{{ cartum.modificadoEl|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('carta_edit', { 'id': cartum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
