{% set rutBus = app.session.get('rutBus') %}

<fieldset>
     <form action="{{ path(rutBus ~ 'procesar_filtropac') }}" method="POST" {{ form_enctype(form) }}>
           <div class="container">
                <div class="row">
                    <div class="col-md-11">
                         {{ form_widget(form.filtro, { 'attr' : { 'class': 'form-control', 'placeholder':'Escriba la matricula o el nombre del paciente' } }) }}
                    </div>
                    <div class="col-md-1">
                         <button type="submit" class='btn btn-success'  >Buscar</button>
                    </div>
                          {{ form_rest(form) }}
                </div>
           </div>
     </form>
</fieldset> <p></p>
