{% set rutBus = app.session.get('rutBus') %}
{% set msj = app.session.get('mensaje')|default('') %}

<div class='error'>{{ msj }}</div>
{% if entities|length > 0 %}

            <div class="row">
            <div class="col-md-6">
                <fieldset>
                <h2>Asegurado <small>({{ entities.aseg|length }})</small></h2>
                <table class='index table'>
                    <thead><tr>
                               <th width= "10%">Matricula</th>
                               <th width= "84%">Nombre</th>
                               <th width= "6%">&nbsp;</th>
                           </tr>
                    </thead>
                    <tbody>
                          {% for entity in entities.aseg %}
                            <tr><td align='center'>{{ entity.cod }}</td>
                                {% set nom = entity.app ~ " " ~ entity.apm ~ " " ~ entity.nom %}
                                <td>{{ nom }}</td>
                                <td align='center'>
                                    <a href="{{ path(rutBus ~ 'procesarelepac', { 'esAseg': 1, 'mat': entity.cod }) }}" class=' btn btn-default btn-xs'>
                                        <i class="fa fa-check" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                          {% endfor %}
                    </tbody>
                </table>
            </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <h2>Beneficiario <small>({{ entities.bnef|length }})</small></h2>
                    <table class='index table'>
                        <thead><tr>
                                   <th width= "10%">Matricula</th>
                                   <th width= "84%">Nombre</th>
                                   <th width= "6%">&nbsp;</th>
                               </tr>
                        </thead>
                        <tbody>
                              {% for entity in entities.bnef %}
                                <tr><td align='center'>{{ entity.cod }}</td>
                                    {% set nom = entity.app ~ " " ~ entity.apm ~ " " ~ entity.nom %}
                                    <td>{{ nom }}</td>
                                    <td align='center'>
                                        <a href="{{ path(rutBus ~ 'procesarelepac', { 'esAseg': 0, 'mat': entity.cod }) }}" class='btn btn-default btn-xs'>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                              {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
                
            </div>
        </div>
        {#<div class="row">
            <a class="btn btn-default pull-right" href="{{ path('buscarpac') }}">Volver Atrás</a>
        </div>#}
{% endif %}
