{% extends 'main.html.twig' %} 
{% block body %}
    
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            {# COLOCAR EL TITULO#}
        <H2>Buscar Paciente</H2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="height:100%;">
            {#CONTENIDO#}
                {% include 'CpsAfiliacionBundle:Buspac:_filtro.html.twig' %}
                <div class="clearfix"></div>
                {% include 'CpsAfiliacionBundle:Buspac:_listado2.html.twig' %}
                <br></br>
        </div>
    </div>
</div>    
{% endblock %}
