{% extends 'main.html.twig' %}

{% block body %}
    <h1>Jefaturas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Esactivo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jefatura in jefaturas %}
            <tr>
                <td><a href="{{ path('jefatura_show', { 'id': jefatura.id }) }}">{{ jefatura.id }}</a></td>
                <td>{{ jefatura.nombre }}</td>
                <td>{{ jefatura.cargo }}</td>
                <td>{% if jefatura.esActivo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('jefatura_show', { 'id': jefatura.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('jefatura_edit', { 'id': jefatura.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jefatura_new') }}">Create a new jefatura</a>
        </li>
    </ul>
{% endblock %}
