{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jefatura</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jefatura.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ jefatura.nombre }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ jefatura.cargo }}</td>
            </tr>
            <tr>
                <th>Esactivo</th>
                <td>{% if jefatura.esActivo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jefatura_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('jefatura_edit', { 'id': jefatura.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form,{'attr': {'id': id | default('form')}}) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
