{% extends 'base.html.twig' %} 

{% block body %} {{ parent() }}
<div class="container">
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}
    <div class="centro">
        <form action="{{ path('cps_user_login_check') }}" method="post" class="form-signin">
            <div class="form-group">
                <div class="input-group">
                    <label for="username" class="sr-only">{{ 'Username'|trans }}:</label>
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario" class="form-control" required autofocus />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label for="password" class="sr-only">{{ 'Password'|trans }}:</label>
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Contraseña" required />
                </div>
            </div>
            <br/>
            <input type="hidden" name="_target_path" value="cps_user_homepage" />
            <button type="submit" class="btn btn-login">{{ 'Sign in'|trans }}</button>
        </form>
    </div>
    <script src="{{ asset('gentella/vendor/jquery/jquery.js') }}" type="text/javascript">
    </script>
    <script src="{{ asset('gentella/vendor/jquery/jquery.backstretch.min.js') }}" type="text/javascript">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.backstretch(["{{ asset('gentella/vendors/img/fondo.png') }}"]);
        });
    </script>
{% endblock %}